# Ignore the data, these should have been stored in the cloud platform
data_large/

# Ignore the testing files
temp_files/
output_test/
output/
temp/
test.ipynb
demo.ipynb

# Ignore the cache
__pycache__/
.pytest_cache/
tempCodeRunnerFile.py
.Rhistory

.DS_Store

data/imtermediate/*